*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

.head{
    background:linear-gradient(to top, rgba(0,0,0,.4), rgba(0,0,0,.3)) , url(/images/background-image.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    border: .3rem solid blue; 
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 1rem;
}
.navbar, .nav-item {
    list-style: none;
}

.nav-list{
    display: flex;
    margin-left: 16rem;
    
}
.nav-item{
    margin-right: 3rem;
}

.filtro{
    margin-left: 2rem;


}
.sign-up-btn{
    border-radius: .5rem;
    width: 7rem;
    height: 2rem;
    background-color: #CC3636;
    color: white;
    margin-left: 10rem;
    outline: none;

}

.getapp-btn {
    border-radius: .5rem;
    width: 7rem;
    height: 2rem;
    background-color: #CC3636;
    color: white;
    margin-right: 2rem;
    outline: none;
    
}

.middle {
    text-align: center;
    margin-top: 20rem;
    color: white;
}

.power-up {
    font-size: 3rem;
    font-weight: bolder;
}

.day {
    font-weight: lighter;
    font-size: 1rem;
}

.explore-btn{
    outline: none;
    border-radius: .5rem;
    width: 9rem;
    height: 2rem;
    background-color: #CC3636;
    color: white;
    margin-top: 3rem;
}



.explore-wrld-coffe {
    color: burlywood;
    width: 100%;
    text-align: center; 
    margin: 100px auto; 
    font-size: 2rem;
    max-width: 600px;
    position: relative;
    
}


.explore-wrld-coffe:before {
    content: "";
    display: block;
    width: 90rem;
    height: 2px;
    background: burlywood;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;

}

.explore-wrld-coffe:after {
    content: "";
    display: block;
    width: 95rem;
    height: 3px;
    background: burlywood;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}



 .logo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
    margin-left: 3rem ;
} 

.logo-img {
    margin-right: 2rem;
}

.brands-we-work {
    color: burlywood;
    width: 100%;
    text-align: center; 
    margin: 100px auto; 
    font-size: 2rem;
    max-width: 600px;
    position: relative;
    
}


.brands-we-work:before {
    content: "";
    display: block;
    width: 90rem;
    height: 2px;
    background: burlywood;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;

}

.brands-we-work:after {
    content: "";
    display: block;
    width: 95rem;
    height: 3px;
    background: burlywood;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

span{
    background-color: aliceblue;
}




 .coffe-card {
    width: 50rem;
    margin: .3rem .3rem;
    height: 90vh;
    background-color:  burlywood;
    border-radius: 1rem;
    
} 


.coffe-card-wrapper {
    display: flex;
    flex: 25%; 
    max-width: 25%;   

}

.coffe-card-content{
    color: white;
}

.coffe-card-heading{
    font-size: 2rem;
    margin-left: .9rem ;
}

.coffe-card-paragraph{
    margin: 1rem .5rem;
    letter-spacing: .4px;
}
.coffe-price{
    font-size: 2.3rem;
    font-weight: bold;
    

}

.price-btn{
    display: flex;
    align-items: center;
    margin: 2rem 0.8rem;
}

.coffe-img {
     width: 320px; 
     height: 280px;  
     border-radius: .8rem;
     margin: .4rem .4rem;

}

.coffe-card-btn {
    width: 9rem;
    height: 3rem;
    margin-left: 6rem;
    padding: 1rem 1rem ;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white;
    background-color: #E94560;
    border: .1rem solid #E94560;
    outline: none;
    cursor: pointer;
    border-radius: .3rem;
}

.get-in-touch {
    color: white;
    width: 100%;
    text-align: center; 
    font-size: 2rem;
    max-width: 600px; 
    position: relative; 
    margin: 0 30rem ;


}

.get-in-touch:before {
    content: "";
    display: block;
    width: 50rem;
    height: 2px;
    background: #CC3636;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;

}

.get-in {
     padding-top: 1.4rem;
    
}

.get-in-touch:after {
    content: "";
    display: block;
    width: 50rem;
    height: 3px;
    background: #CC3636;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
} 

 .get-in-touch span  {
    background-color: transparent;
    
    
}




 .footer {
    background-color: burlywood;
    height: 70vh;

}

 .footer-filtro{ 
    display: flex;
    margin-top: 4rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 3rem; 
    
}

.about-us-list, li {
    list-style: none;
    margin: 0 3rem; 
    
}
.about-us-list, .franchise-list, .merchandise-list{
    margin: 3rem  3rem;
}
.head-item {
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 0.3rem;
}

.follow-us {
    margin-left: .3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bolder;
    text-transform: capitalize;
}


.social-icons-list{
    display: flex;
    align-items: center;
    
    
}
.icon-item, i {
    margin: 0  0;
    
    
}

.footer-underline{
    width:90%;
    height: 0.2rem;
    margin-top: 6rem;
    background-color: aliceblue;
    margin-left: .3rem;
}

.copyright{
    margin-top: .3rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}  